<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hungry Hippos</title>
    <link rel='stylesheet' href='{{url_for('static', filename='styles.css')}}' />
    {{ moment.include_moment() }}
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>

  </head>
  <body style="background: url(./static/images/{{theme}}.jpg); background-size: 25vw">

    <section class="items {{theme}}">
      <div class="title-card">
        <img src="./static/images/{{theme}}-title.png" alt="">
      </div>
      <div class="items-grid">


      {% for i in items %}
      <div class="item">

        <div class="item-cover">
         

        {% if 'cover_picture' in i.store %}
          {% if 'current_url' in i.store.cover_picture %}
            <img class="store-image" src="{{i.store.cover_picture.current_url}}" alt="store picture"/>
          {% endif %}
        {% endif %}
        
        <div class="item-title">
          <h2>{{i.display_name }}</h2>
        </div>
      </div>

      <div id="map-{{loop.index0}}" class="leaflet-map"></div>
        <div class="item-info">
          <div class="item-data">
            <div class="duration"></div>

            
            {% if 'item_price' in i.item %}
              {% if 'minor_units' in i.item.item_price %}
                <p>Price: ${{i.item.item_price.minor_units/100}}</p>
              {% endif %}
            {% endif %}

            {% if 'pickup_interval' in i %}
              {% if 'start' in i.pickup_interval %}
                <p>Pickup time: {{moment(i.pickup_interval.start).format('HH:mm')}} - {{moment(i.pickup_interval.end).format('HH:mm')}}</p>
              {% endif %}
            {% endif %}

            <p>Order window ends {{moment(i.purchase_end).fromNow() }}</p>

            {% if 'average_overall_rating' in i.item %}
              {% if 'average_overall_rating' in i.item.average_overall_rating %}
                <div class="star-rating-wrapper">
                  <div class="star-rating-filled" style="--rating: {{i.item.average_overall_rating.average_overall_rating}}">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                  </div>
                  <div class="star-rating-empty">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
          <img class="qr-code" src="data:image/png;base64, {{i.qrcode}}" alt="Share link" />
          
        </div>
      </div>

      
      {% endfor %}
      
    </div>
    <div class="hippo-line"></div>
    </section>
  </body>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
              integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
              crossorigin=""></script>
    <script>
        const maps = document.querySelectorAll('.leaflet-map');
        const durations = document.querySelectorAll('.duration');
        const parsedItems = {{  items|tojson }}

        const recurseLatitude = 40.6913289;
        const recurseLongitude = -73.985069;

        function drawDirections(index) {
            const pickupLatitude = parsedItems[index]['pickup_location']['location']['latitude'];
            const pickupLongitude = parsedItems[index]['pickup_location']['location']['longitude'];
            const centerLatitude = (recurseLatitude + pickupLatitude) / 2;
            const centerLongitude = (recurseLongitude + pickupLongitude) / 2;

            const map = L.map(`map-${index}`, {zoomControl: false, dragging: false, scrollWheelZoom: false, attributionControl: false}).setView([centerLatitude, centerLongitude], 16);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {maxZoom: 19}).addTo(map);

            if (!('osrm_geojson' in parsedItems[index])) return;

            const geoJSON = parsedItems[index]['osrm_geojson'];
            const lgeoJSON= L.geoJSON(geoJSON);
            map.fitBounds(lgeoJSON.getBounds());
            lgeoJSON.addTo(map);

            const durationInSeconds = parsedItems[index]['osrm_duration'];
            durations[index].innerText = `Walking distance: ${Math.ceil(durationInSeconds/ 60)} minutes`

            const recurseIcon = L.icon({
                iconUrl: '{{url_for('static', filename='images/recurse.svg')}}',
                iconSize:     [30, 30],
                iconAnchor:   [30, 15], // Point of the icon which will correspond to marker's location
            });
            const droolIcon = L.icon({
                iconUrl: '{{url_for('static', filename='images/hippo-4.gif')}}',
                iconSize:     [30, 30],
                iconAnchor:   [15, 43 / 2],
            });
            L.marker([recurseLatitude, recurseLongitude], {icon: recurseIcon}).addTo(map);
            L.marker([pickupLatitude, pickupLongitude], {icon: droolIcon}).addTo(map);
        }

        for (const [index, _map] of maps.entries()) drawDirections(index);
    </script>
</html>
