<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Hungry Hippos</title>
  </head>
  <body>
    <p>ALL MY ITEMS HUNGRY BOIS</p>
    <ul id="items">
      {% for i in items %}
      <li>
        <div>{{ i.display_name }}</div>
        <div>{{ i.item.average_overall_rating.average_overall_rating }}</div>
        {# Decode base64 bytes#}
        <img src="data:image/png;base64, {{i.qrcode}}" alt="Share link" />
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
